---
---

@import 'normalize/import-now';
@import 'mixins';

$width: 980px;

body {
	display: flex;
	justify-content: center;
}

article {
	width: $width;
	display: flex;
	flex-direction: column;
}

hr {
    border: 0;
    height: 1px;
	width: 100%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.icon-link { 
	display: inline-block;

    &:hover .icon path {
      fill: #333;
      @include transition(all .2s ease);
    }
}

